.rounded-corners {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.center {
    margin: 0px auto;
}

body { 
    font-family: 'Voces', cursive;
}
#frame {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    background-color: #fff;
}

.center-box {
    position: absolute;
    top: 30px;
    left: 30%;
    right: 30%;
    bottom: 30px;
    padding: 25px;
    background-color: #ADF7FF;
    overflow-y: auto;
    overflow-x: hidden;
    color: #0374FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 30px;
}

.center-box h1 { margin: 0px; }
.center-box input { border: 1px solid #6BC4FF; }
.center-box .note { font-size: .7em; }

#cf-button {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background-color: #6BC4FF; 
    color: #fff;
}

#footer {
    background-color: #0374FF;
    border-top: 2px solid #6BC4FF;
    color: #D8FFED;
    height: 40px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#footer .powered-by {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
#footer .version {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #6BC4FF;
    font-size: .9em;
}